body {
  display: grid;
  grid-template-columns: 1fr;
  background: #ff9900;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.headline {
  font-size: 2.5em;
  text-align: center;
}

.entry {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  justify-content: center;
  align-items: center;
  background: #0099ff;
  width: 90%;
}

.entryBox {
  background-color: #fffff8;
  color: black;
  border: 3px dotted blue;
}

.infoContainer {
  background-color: #fffff8;
  margin: 2%;
  padding: 1%;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  background: #0099ff;
  color: #fffff8;
  border: #444 10px solid;
  font-family: "Oswald", sans-serif;
  margin: 0 5%;
  padding: 5%;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}

#feelings {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  color: black;
  border: 3px solid black;
  background-color: #fffff8;
}

#generate {
  background: #3b4a6b;
  color: #f0d43a;
  padding: 2%;
  margin: 2%;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}

#entryContainer {
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 1fr 1fr;
}

#zipInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

#feelInfo {
  display: grid;
  grid-template-columns: 1fr;
}

.subLine {
  border: black 10% solid;
  margin: 3%;
  padding: 5%;
  background-color: #0099ff;
}

.subLine2 {
  border: black 5px solid;
  background-color: #0099ff;
}
