body {
  background: #ff9900;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 100%;
}

#layout {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  justify-content: center;
}
#app {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  background: #0099ff;
  color: #fffff8;
  justify-content: center;
  justify-items: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

#feelings {
  border: 3px solid black;
  background: #ff9900;
}

.holder {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  display: flex;
  justify-content: center;
  background: #0099ff;
  width: 100%;
}

#entryContainer {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
  font-size: 4em;
  text-align: center;
}
.title {
  font-size: 2em;
  width: 100%;
}

#zip {
  width: 50%;
  height: 30%;
  border: 3px solid black;
  color: white;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 3em;
  border: 3px solid black;
}
.entryBox {
  background-color: #fffff8;
  color: black;
  border: 3px dotted blue;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #ff9900;
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #0099ff;
  color: #fffff8;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #fffff8;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
